/* STYLING FOR NAVIGATION AREA  */
.navbar-transparent {
    border-bottom: 1px solid #93B7E3;
}

.error-alert {
    color: var(--error);
    font-weight: 300;
    font-size: 13px;
    background-color: rgba(255, 0, 0, 0.1);
    display: block;
    padding: 4px 10px;
    border-radius: 4px;
}

.app--nav_items li a {
    color: var(--dark-color);
    font-weight: 500;
    position: relative;
    font-size: 0.8rem;
}

.app--header img {
    height: 600px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.app--header .carousel-caption {
    bottom: 30%;
}

.app--header .carousel-caption.right--side {
    left: 60% !important;
}

.app--header .carousel-caption h1 {
    color: var(--primary-color);
    font-size: 2.6rem;
    font-weight: 700;
}
.app--nav_items li a:after+.app--nav_items li a:not(.app--nav_items li .router-link-exact-active):hover {
    content: "";
    width: 80%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--dark-color);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app--nav_items li .router-link-exact-active::after {
    content: "";
    width: 80%;
    height: 2px;
    background-color: var(--dark-color);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app--nav_items li .router-link-exact-active::before {
    content: "";
    width: 80%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--dark-color);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app--nav_items li a::after {
    content: "";
    width: 80%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: transform 0.2s;
    transform: scaleX(0);
    transform-origin: right;
}

.app--nav_items li a:not(.app--nav_items li .router-link-exact-active):hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.app--nav_items li a.router-link-border-active{
    border: 1px solid  var(--primary-color);
}

.app-nav  .el-drawer__body {
    background-color: var(--primary-color);
}

.app-nav  .el-drawer__body ul li a {
    color: #fff;
}

.app-nav .mobile-menu {
    display: none;
}

/* Hero Search fieldset */
.hero--search {
    border-radius: 30px;
    border: 0.5px solid #E0E0E0;
    /* Shadow */
    box-shadow: 0px 79px 128px rgba(192, 192, 192, 0.09), 0px 28.8363px 46.7221px rgba(192, 192, 192, 0.0598508), 0px 13.9995px 22.6827px rgba(192, 192, 192, 0.0475723), 0px 6.86281px 11.1195px rgba(192, 192, 192, 0.0380675), 0px 2.71357px 4.39666px rgba(192, 192, 192, 0.0270615);
    border-radius: 60px;
    display: flex;
    gap:20px;
    padding: 10px 12px;
    background-color: #fff;
    margin-top: 35px;
}
.line--field {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.line--input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--blue-100);
    width: 100%;
    padding: 0.54em;
    font-size: 0.8rem;
}

.line--input::placeholder {
    color: var(--gray-200);
    font-weight: 300;
    font-size: 0.8rem;
}

/* header */
.header--text {
    font-weight: 600;
}

/* BORDERED  */
.bordered {
    border: 1px solid var(--blue-300);
    background: #fff;
    padding: 18px;
    border-radius: 25px;
}


/* Footer  */

.footer {
    /* background: var(--accent-color-dark); */
    /* height: 400px; */
    width: 100%;
    background-size: cover;
    background-position: bottom;
    /* margin-top: 3.3rem; */
    padding-top: 2rem;
}

.footer a,
.footer p,
.footer h6 {
    color: var(--dark-color);
    font-size: 0.9rem;
    font-weight: 400;
    font-size: 0.8rem;
}

.footer a:hover {
    /* color: var(--gray-100); */
    text-decoration: underline !important;
}

.footer h4 {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}

.footer .footer--copyright .footer-links {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer--copyright .footer-links a {
    font-size: 16px;
    font-weight: 300;
}

.footer .footer--copyright .footer-links .d-flex a .fa {
    color: var(--primary-color);
}

/* OTHERS  */

.body--text {
    font-weight: 300;
    font-size: 15px;
}

.el-divider {
    background-color: var(--blue-100) !important;
}

.error-404 {
    max-height: 100vh;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    place-items: center;
}


/* ALERTS  */
.modal-mask {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    place-items: center;
}

.modal-content {
    width: 25%;
    padding: 2rem;
    border-radius: 20px;
   position: relative;
}

.modal-content.add-competence {
    width: 40%;
}

.modal-content.success {
    border:  2px solid var(--success);
}

.modal-content.error {
    border:  2px solid var(--error);
}

.modal-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.modal-content .modal-title  {
    text-align: center;
    margin-top: 15px !important;
    font-weight: 600;
}

.modal-content .modal-title h5 {
    text-align: center;
    font-weight: 600;
}

.modal-content.success .modal-title {
    color: var(--success);
}

.modal-content.error .modal-title {
    color: var(--error);
}

.modal-content form input[type="email"], modal-content form input[type="text"], .modal-content form select {
    display: block;
    width: 100%;
    border: 1px solid var(--blue-300);
    padding: 12px 16px;
    border-radius: 40px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
}

.modal-content form label {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
}




/* N Progress  */

#nprogress .bar {
    height: 5px;
    background-color: var(--primary-color);
}

/* CV  */
.cv-data-header {
    font-weight: 600;
    font-size: 16px;
} 

.cv-data-subheader {
    color: #787878;
    font-weight: 600;
    font-size: 14px;
}

.cv-date-range {
    color: #787878;
    font-weight: 400;
    font-size: 13px;
}

.edit-icon {
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
}

.delete-icon {
    background-color: var(--error-color);
    display: grid;
    place-items: center;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
}

.input-field {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    align-items: center;
    border: 1px solid var(--blue-300);
    border-radius: 20px;
    padding: 3px 8px;
    width: max-content
}

.input-field input {
    width: 100%;
    background-color: transparent;
    border: transparent;
    padding:6px 5px;
    display: block;
    font-size: 14px;
}

.input-field input::placeholder {
    font-weight: 300;
    font-size: 12px;
}