.create-cv {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.linkedin {
  background-color: #fff;
  border-radius: 2px;
  padding: 3px;
}

.cv-option {
  border: 3px solid var(--gray-300);
  width: 45%;
  border-radius: 15px;
}

.cv-option .option-image {
  padding: 20px 20px 0 20px;
  border-radius: 15px 15px 0 0;
  text-align: center;
}

.cv-option .option-image img {
  width: 60%;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center;
}

.cv-option .option-image:hover {
  background-color: var(--blue-100);
}

.cv-option .option-image.active {
  background-color: var(--blue-100);
}

.cv-option .details {
  border-top: 3px solid var(--gray-300);
  padding: 20px;
  text-align: center;
}

.cv-option .details p {
  font-weight: 300;
  font-size: 15px;
  margin-top: 5px !important;
}

.cv-option .option-image .cv-icon {
  font-size: 24px;
  color: var(--gray-300);
}

.cv-option .option-image .cv-icon.active {
  color: var(--primary-color);
}

/* Steps Form  */
.form-steps {
  border: 1px solid var(--blue-300);
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* justify-content: space-around; */
}

.step-items {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  gap: 3px;
}

.step-level {
  font-size: 0.7rem;
  color: var(--muted-color);
  font-weight: 500;
}

.step-title {
  font-size: 13px;
  font-weight: 600;
}

.step-status.pending {
  background-color: rgba(100, 104, 104, 0.22);
  color: var(--muted-color);
  border-radius: 20px;
  font-size: 8.1px;
  font-weight: 500;
  width: max-content;
  padding: 3px 8px;
}

.step-status.completed {
  background-color: var(--green-600);
  color: var(--dark-color);
  font-weight: 500;
  border-radius: 20px;
  font-size: 8.1px;
  width: max-content;
  padding: 3px 8px;
}

.step-buttons {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title-page-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: top;
    -o-object-position: top;
    border: 1.5px solid var(--primary-color);
}

.form-data {
    box-shadow: 0px 22.6524px 45.3048px -7.5508px rgba(39, 76, 119, 0.16);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 50%;
}

.cv-preview {
    background-color: var(--blue-100);
    border-radius: 0 20px 20px 0;
}

/* FORM CSS  */
.form-details input[type="email"], .form-details input[type="password"], .form-details input[type="text"], .form-details select, .form-details textarea, .form-details input[type="date"] {
    display: block;
    width: 100%;
    border: 1px solid var(--blue-300);
    padding: 12px 16px;
    border-radius: 40px;
    outline: none;
    font-size: 14px;
}

.form-details textarea {
    display: block;
    width: 100%;
    border: 1px solid var(--blue-300);
    padding: 12px 16px;
    border-radius: 14px;
    outline: none;
    font-size: 14px;
}

.form-details label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
}

.form-details #remember-me {
    font-weight: 300;
}

.form-details input::placeholder, 
.form-details textarea::placeholder  {
    color: var(--gray-300);
    font-weight: 200;
    font-size: 14px;
}

.form-details .phone-number-input {
    display: flex;
    width: 100%;
    border: 1px solid var(--blue-300);
   padding-left: 12px;
    border-radius: 40px;
    outline: none;
    font-size: 14px;
    align-items: center;
    gap: 10px;
}

.form-details .el-dropdown-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-details .phone-number-input input {
    padding: 12px 16px;
    width: 100%;
    border: 0;
    background-color: transparent;
    border-left: 1px solid var(--blue-200);
}

.form-details .phone-number-input #checkBox {
    /* accent-color: var(--blue-200); */
    accent-color: red;
}

.level-select {
  border: 1px solid var(--blue-200);
  border-radius: 30px;
  padding: 16px 8px;
  display: flex;
  display: inline-flex;
  display: -webkit-flex;
  align-items: center;
  gap: 4px;
}

.levels {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;  
}


/* CV PREVIEW  */
.main-cv-container {
  display: grid;
  grid-template-columns: auto 40%;
  margin-top: 20px;
}

.left-cv-container {
  background-color: #fff;
  /* padding: 30px 15px; */
}

.right-cv-container {
  background-color: var(--dark-primary-color);
  /* padding: 30px 15px; */
}


.cv-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 5px 15px;
}

.cv-header-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.cv-liner {
  width: 40%;
  height: 3px;
  background-color: var(--gray-450);
}

.right-cv-container .cv-liner {
  background-color: #fff;
}

.right-cv-container .cv-header-text {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}

.left-cv-container {
  padding-bottom: 30px;
}


.right-cv-container .cv-personal-info {
  padding: 0 15px 0 15px;
}

.cv-personal-info h4 {
  font-size: 18px;
}

.first-name {
  color: #fff;
  font-weight: 700;
}

.last-name {
  font-weight: 300;
  color: var(--gray-250);
}

.right-cv-container .personal-details {
  display: flex;
  display: inline-flex;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  gap: 4px;
  margin-top: 30px;
}

.right-cv-container .personal-detail {
  font-size: 9.8px;
  color: #fff;
  display: flex; 
  display: -ms-flexbox;
  display: -webkit-flex;
  gap: 4px;
}

.right-cv-container .personal-detail  span {
  font-weight: 300;
}

.cv-image {
  margin-top: 30px;
  position: relative;
  width: max-content;
}

.cv-image img, .cv-image .img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: top;
  -o-object-position: top;
  position: relative;
  z-index: 10;
  background-color: #fff;
}

.cv-image .img-spacer {
  position: absolute;
  background-color: transparent;
  border: 2px solid #fff;
  height: 100px;
  width: 100px;
  top: 8px;
  left: 8px;
  /* z-index: -1; */
}

.user-bio {
  margin-top: 30px;
}

.bio-text p {
  font-size: 9.5px;
  color: #fff;
  font-weight: 300;
}

.education {
  background-color: var(--gray-350);
}

.education .cv-header-text {
  font-weight: 500;
  font-size: 12px;
  color: #000;
}

.education .cv-liner {
  background-color: #000;
}