/* STYLING FOR TALENT HERO SECTION */
.talent--hero_section {
    height: 100vh;
    display: grid;
    align-items: center ;
    background: url('../img/about.svg') right center no-repeat, url('../img/hero-g-g.svg') center center no-repeat;
    background-size: auto 100%;
}
.pivot--text {
    width: 57%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left--pivot {
    width: 65%;
}

.right--pivot {
    background: url('../img/badge.svg');
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.right--pivot h5, .right--pivot h6 {
    color: #fff;
}
.right--pivot h6 {
    font-weight: 100;
    font-size: 23px;
}

.right--pivot h5 {
    font-weight: 600;
    font-size: 23px;
}

.right--pivot div {
    text-align: center;
    transform: rotate(-30deg);
}

.main--text {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 15px !important;
}

.desc--text {
    width: 60%;
    font-weight: 300;
}

.talent--search {
    width: 72%;
}

/* FEATURED JOBS  */
.see--all span, .see--all i {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
}
.featured--jobs {
    padding: 4rem 0;
    background-color: var(--gray-50);
}

.job--card {
    border: 1px solid #D6DDEB;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.jobs--cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


/* Subscibe to Newsletter */
.subscribe-to-newsletter {
    background-color: var(--primary-color);
    padding: 2rem 0;
    height: 100vh;
    display: grid;
    place-items: center;
}

.subscribe-form {
    background-color: var(--light-accent);
    padding: 4rem;
    border-radius: 20px;text-align: center;
}

.subscibe-input {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0 auto;
    background-color: #fff;
    width: 60%;
    border-radius: 30px;
}

.subscibe-input input {
    width: 100%;
    border: transparent;
    padding: 0.5rem 2rem; 
    border-radius: 30px;
}

.subscibe-input input::placeholder {
    color: var(--gray-200);
    font-weight: 300;
}

/* HOME PAGE STYLING  */
.home--hero_section {
    height: 100vh;
    display: grid;
    align-items:center ;
}

.home--hero_section .pivot--text {
    width: 100%;
}

.right--side img {
    border-radius: 100px;
    height: 500px;
    /* position: relative; */
}

.positioned--image img{
    margin-bottom: -50px;
}

.trusted--by {
    background: url('../img/hero-g-g.svg');
    height: 300px;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}


/* How it works  */
.how--it_works {
    background-color: var(--light-accent);
    height: 100vh;
    display: grid;
    place-items: center;
}

.how--it_works.employers {
    background: url('../img/hero-g-g.svg');
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.how--it_works.employers h2 {
    color: #fff !important;
}

.how-it-works-card {
 background-color: #fff;
 padding: 2rem;
 border-radius: 20px;
}

.how-it-works-card p {
    font-size: 14px;
}

.how-it-works-card h5 {
    margin: 12px 0 !important;
}

.how-it-works-card .icon svg path {
    color: var(--primary-color) ;
}

/* Meet talents  */

.colored-card {
    background-color: var(--light-accent);
    border-radius: 20px;
    padding: 3rem;
}
.colored-card img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
    display: block;
    margin: 30px auto 0 auto;
}

.meet-talent {
    height: 100vh;
    display: grid;
    place-items: center;
}

.meet--talent_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
}

/* Why Croxxtalent  */
.why--croxx {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--gray-200);
}

/* Data Driven  */
/* .data-driven {
    display: grid;
    
} */

.data-driven .data--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 80px 0;
}

.data-driven .data--card {
    background-color: var(--light-accent);
}


.data-driven .data--bottom_card {
    background-color: var(--green-100);
}

.data-driven .data--card, .data-driven .data--bottom_card {
    padding: 3rem;
    border-radius: 20px;
}


.data-driven img {
    width: 300px;
    height: 250px;
}
.data-driven p {
    width: 300px;
}
.data-driven .left--side_data, .data-driven .right--side_data {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.data-driven .right--side_data {
    margin-top: 50px;
}

/* EMPLOYER PAGE STYLING  */

/* Employer Hero Section */
.talent--hero_section.employer {
    height: 100vh;
    display: grid;
    align-items: center ;
    background: url('../img/employers.png') right center no-repeat, url('../img/hero-g-g.svg') center center no-repeat;
    background-size: auto 100%;
}

.top--talents {
    height: 100vh;
    display: grid;
    place-items: center;
}

.top--talents_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    gap: 40px;
    margin-top: 40px;
}

.talent-card {
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.talent-card:first-child {
    background: url('../img/talent1.png');
    background-color: var(--light-accent);
    background-size: cover;
    background-position: center;
}

.talent-card:last-child {
    background: url('../img/talent3.png');
    background-color: var(--light-accent);
    background-size: cover;
    background-position: center;
}

.talent-card:nth-child(2) {
    background: url('../img/talent2.png');
    background-color: var(--green-100);
    background-size: cover;
    background-position: center;
}

.talent-card .talent--data {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 20px;
    text-align: center;
}

/* Competencies  */
.competencies {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--light-accent);
}

.competencies--card{
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
}

.competencies--cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


/* Contact US  */
.contact--us_page {
    background: url(../img/contact-us.png);
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
}

.contact--us_page h4 {
    color: #fff;
    text-decoration: underline !important;
    font-size: 20px;
    margin-bottom: 10px !important;
}

.contact--us_page p {
    width: 60%;
}

.contact--us_section {
    height: 100vh;
    display: grid;
    align-items: center ;
    background: url('../img/contact.png') right center no-repeat, url('../img/hero-g-g.svg') center center no-repeat;
    background-size: auto 100%;
}

.contact--us_form {
    width: 55%;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.52);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.8px);
-webkit-backdrop-filter: blur(9.8px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.contact--us_form form label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0;
}

.contact--us_form form input, .contact--us_form form textarea {
    width: 100%;
    padding: 0.4rem;
    border: 0.13rem solid #D2D6DA;
    border-radius: 5px;
}

.contact--us_form form input::placeholder, .contact--us_form form textarea::placeholder {
    color: #D2D6DA;
    font-size: 0.8rem;
    font-weight: 300;
}

.contact--us_form form textarea {
    outline: none;
}