
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1180px;
    }
}


@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1320px;
    }
}

@media (max-width:990px) {
    /* COMMONS  */
    .col-sm-8 {
        padding-left: 0;
        padding-right: 0;
    }

    .modal-content  {
        width: 80%;
    }

    .container-fluid {
        padding-left: 1rem !important; 
        padding-right: 1rem !important;
    }

    /* FOOTER  */
    .footer .footer--copyright .footer-links {
        flex-direction: column-reverse;
    }

    .footer .footer--copyright .footer-links a {
       margin-bottom: 14px;
    }

    .footer .footer--copyright .footer-links a.recruitment {
        margin-bottom: 40px;
    }

    /* Landing Page Nav */
    .mobile-hamburger{
        display:  block;
    }
     .app--nav_items {
        display: none !important;
    }   

    .app-nav .mobile-menu {
        display: block;
    }

    /* Why Croxxtalent  */

    .why-croxx-solid-bg {
        background-color: var(--primary-color);
        height: 350px;
        width: 60%;
        border-radius: 45%;
        margin: 40px auto 120px auto;
    }

    .why-croxx-solid-bg img {
        width: 100%;
        height: 350px;
        margin-top: 80px;
    }

    /* hero Section  */
    .main--text {
        width: 100%;
        font-size: 36px;
        margin-bottom: 10px !important;
    }

    .employer-hero-bg {
        height: auto;
    }

    .pivot--text {
        grid-template-columns: auto;
        align-items: unset;
        gap: 50px;
        padding: 40px 0;
        width: 100%;
    }

    .left--pivot {
        width: 100%;
       
    }

    .desc--text  {
        width: 100%;
        text-align: center;
    }

    .main--text {
        text-align: center;
        font-size: 40px;
        width: 100%;
    }

    .talent--search {
       position: static;
       width: 100%;
       margin-bottom: 80px;
    }

    .hero--search {
        flex-direction: column;
        padding: 30px ;
        border-radius: 40px;
    }

    .hero--search .primary--button {
        width: 100%;
    }

    .right--pivot {
       left: 50%;
       bottom: 26%;
    }

    /* Employer Hero Section  */
    .employer-hero-bg {
        position: unset !important;
        right: unset !important;
    }

    .employer-hero-bg img {
        width: 100%;
    }

    .right--side img {
        height: 600px;
    }

    .right--side .d-flex {
        justify-content: center;
    }

    .left--pivot .d-flex {
        justify-content: center;
    }

    .positioned--image img {
        margin-bottom: 0;
    }

    /* Meet Talent  */
    .meet--talent_content {
        grid-template-columns: auto;
        gap: 40px;
    }

    /* Data Driven  */
    .data-driven .data--container {
        grid-template-columns: auto;
    }

    .data-driven .right--side_data {
        margin-top: 0
    }

    .data-driven .data--card, .data-driven .data--bottom_card, .colored-card { 
        padding: 1em;
    }

    /* Jobs  */
    .jobs--cards {
        grid-template-columns: auto;
    }

    /* HOW IT WORks  */
    .how-it-works-card {
        width: 100%;
        display: block;
    }

    .how--it_works .d-lg-flex {
        display: flex;
        display: inline-flex;
        display: -webkit-flex;
        flex-direction: column;
        gap: 30px !important;
    }

    /* TOP TALENTS  */
    .top--talents_cards {
        grid-template-columns: auto;
        grid-template-rows: 400px 400px 400px;
    }

    .top--talents {
        padding: 3em 0;
    }

    /* COMPETENCIES  */
    .competencies {
        padding: 3em 0;
    }

    .competencies--cards {
        grid-template-columns: 1fr 1fr;
    }

    /* RESOURCE CARD  */
    .resource-card {
        flex-direction: column;
        gap: 30px;
    }

    .resource-card:nth-child(2),  .resource-card:nth-child(4),  .resource-card:last-child {
        flex-direction: column-reverse;
        gap: 30px;
    }
    
    .resource-card div {
        width: 100%;
    }
    
    .resource-card img {
        width: 100%;
        height: 300px;
    }
    
    /* CORE SERVICE  */
    .core-services {
        flex-direction: column;
        gap: 20px;
        height: unset;
    }

    .core-services-card {
        width: 100%;
    }

    .core-services:last-child {
        flex-direction: column-reverse;
    }

    /* OUR VALUES  */
    .our-values-cards {
        flex-direction: column;
    }

    /* OUR MISSION  */
    .our-mission-container {
        flex-direction: column;
    }

    /* OUR TEAM  */
    .our-team {
        flex-direction: column;
        padding:0 2rem;
        align-items: center;
    }

    /* FAQ  */
    .faq-cards {
        grid-template-columns: auto;
        gap: 20px;
    }

    .faq-list h6 {
        font-size: 14px;
    }

    /* AUTH  */
    .auth-container {
        display: grid;
        grid-template-columns: auto;
        background: url('../img/hero-g-g.svg') center center no-repeat;
        background-color: #F8F8F8;
    } 

    .auth-banner {
        display: none;
    }

    .auth-form-container, .auth-content {
        justify-content: center;
    }

    .auth-content {
        width: 90%;
    }
    .register-options {
        background-color: #fff;
    }
}

@media (max-width: 720px) {
    /* hero Section  */
    .right--side img {
        height: 400px;
    }
}


@media (max-width: 540px) {
    /* hero Section  */
    .talent--hero_section .main--text {
        width: 100%;
        font-size: 32;
        margin-bottom: 10px !important;
    }
    
    .right--side img {
        height: 280px;
    }


    .data-driven img {
        /* width: 200px;
        height: 150px; */
    }

}



